/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 янв. 2024 г., 23:31:35
    Author     : user
*/

.main {border-spacing: 0; border-collapse: collapse;margin-bottom: 1em;}
.main td {border:1px solid gray;padding:1em;}
.border {border:1px solid gray;padding:1em;margin:1em 0;display:inline-block;}
